In [1]:
import pandas_datareader.data as pdr
import yfinance as yf

yf.pdr_override()
all_data = {item:pdr.get_data_yahoo(item) for item in ['2330.TW','2303.TW','2454.TW','2317.TW']}
all_data

yfinance: pandas_datareader support is deprecated & semi-broken so will be removed in a future verison. Just use yfinance.

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

{'2330.TW':                   Open        High         Low       Close   Adj Close  \
 Date
 2000-01-04   69.649033   69.649033   68.475182   69.649033   34.369541
 2000-01-05   69.649033   71.214043   68.866341   71.214043   35.141830
 2000-01-06   70.822884   71.214043   69.649033   69.649033   34.369541
 2000-01-07   67.301331   68.475182   66.518639   67.692490   33.404045
 2000-01-10   69.649033   70.431351   68.475182   70.040192   34.562569
 ...                ...         ...         ...         ...         ...
 2024-06-18  944.000000  950.000000  940.000000  943.000000  943.000000
 2024-06-19  953.000000  984.000000  953.000000  981.000000  981.000000
 2024-06-20  971.000000  981.000000  971.000000  981.000000  981.000000
 2024-06-21  961.000000  978.000000  960.000000  970.000000  970.000000
 2024-06-24  958.000000  960.000000  940.000000  940.000000  940.000000

                   Volume
 Date
 2000-01-04  200662336736
 2000-01-05  402466805912
 2000-01-06  197545715802
 2000-01-07  235270344752
 2000-01-10  276171685539
 ...                  ...
 2024-06-18      37876013
 2024-06-19      72228052
 2024-06-20      48225374
 2024-06-21      88376132
 2024-06-24      72050324

 [6098 rows x 6 columns],
 '2303.TW':                  Open       High        Low      Close  Adj Close     Volume
 Date
 2000-01-04  43.961380  44.900723  43.209900  44.524986  21.108093  332630460
 2000-01-05  43.585640  44.524986  43.209900  44.337120  21.019033  292754299
 2000-01-06  44.337120  44.337120  43.209900  43.397774  20.573715  248928848
 2000-01-07  42.270554  42.646294  40.955471  42.082687  19.950270  269228882
 2000-01-10  40.203999  43.585640  40.203999  43.209900  20.484652  380487972
 ...               ...        ...        ...        ...        ...        ...
 2024-06-18  56.700001  57.000000  56.200001  56.799999  56.799999   47601340
 2024-06-19  57.000000  57.099998  56.599998  56.799999  56.799999   53101867
 2024-06-20  56.900002  57.500000  56.299999  57.500000  57.500000   58585544
 2024-06-21  57.299999  58.000000  57.099998  57.700001  57.700001   78368326
 2024-06-24  57.500000  57.500000  56.599998  56.799999  56.799999   67989610

 [6098 rows x 6 columns],
 '2454.TW':                    Open         High          Low        Close    Adj Close  \
 Date
 2001-07-23    72.470985    72.470985    72.470985    72.470985    28.596722
 2001-07-24    76.625542    77.352501    75.161797    77.106911    30.426031
 2001-07-25    77.106911    82.480515    77.106911    82.480515    32.546429
 2001-07-26    85.408005    88.089897    84.671227    88.089897    34.759861
 2001-07-27    90.290428    91.754173    87.353119    87.844307    34.662956
 ...                 ...          ...          ...          ...          ...
 2024-06-18  1375.000000  1405.000000  1375.000000  1405.000000  1405.000000
 2024-06-19  1425.000000  1485.000000  1420.000000  1485.000000  1485.000000
 2024-06-20  1485.000000  1500.000000  1460.000000  1500.000000  1500.000000
 2024-06-21  1470.000000  1495.000000  1445.000000  1490.000000  1490.000000
 2024-06-24  1455.000000  1465.000000  1405.000000  1410.000000  1410.000000

                Volume
 Date
 2001-07-23     463095
 2001-07-24  238341541
 2001-07-25   94092605
 2001-07-26   64114300
 2001-07-27   60369077
 ...               ...
 2024-06-18    7677930
 2024-06-19   11552021
 2024-06-20    6213796
 2024-06-21   10724486
 2024-06-24    9446108

 [5694 rows x 6 columns],
 '2317.TW':                   Open        High         Low       Close   Adj Close  \
 Date
 1993-01-05    0.730803    0.744620    0.726197    0.730803    0.409765
 1993-01-06    0.729267    0.729267    0.712379    0.718520    0.402878
 1993-01-07    0.718520    0.729267    0.712379    0.715450    0.401157
 1993-01-08    0.724661    0.724661    0.687814    0.693955    0.389104
 1993-01-11    0.692420    0.709308    0.692420    0.698561    0.391687
 ...                ...         ...         ...         ...         ...
 2024-06-18  200.500000  201.000000  197.000000  198.500000  198.500000
 2024-06-19  200.000000  208.000000  199.500000  203.000000  203.000000
 2024-06-20  205.000000  217.500000  203.500000  217.500000  217.500000
 2024-06-21  211.000000  217.500000  211.000000  212.000000  212.000000
 2024-06-24  209.500000  210.000000  205.000000  206.000000  206.000000

                Volume
 Date
 1993-01-05   33478780
 1993-01-06   46846584
 1993-01-07   44447315
 1993-01-08   43699448
 1993-01-11   14068903
 ...               ...
 2024-06-18   90319019
 2024-06-19  173889577
 2024-06-20  177537123
 2024-06-21  163458287
 2024-06-24  105624306

 [7923 rows x 6 columns]}

In [5]:
import pandas as pd
items = {ticker:data['Adj Close']for ticker,data in all_data.items()}
stock_price = pd.DataFrame(items)
stock_price.columns = ['台積電','聯電','聯發科','鴻海']
stock_price

              台積電         聯電     聯發科          鴻海
Date
1993-01-05    NaN        NaN     NaN    0.409765
1993-01-06    NaN        NaN     NaN    0.402878
1993-01-07    NaN        NaN     NaN    0.401157
1993-01-08    NaN        NaN     NaN    0.389104
1993-01-11    NaN        NaN     NaN    0.391687
...           ...        ...     ...         ...
2024-06-18  943.0  56.799999  1405.0  198.500000
2024-06-19  981.0  56.799999  1485.0  203.000000
2024-06-20  981.0  57.500000  1500.0  217.500000
2024-06-21  970.0  57.700001  1490.0  212.000000
2024-06-24  940.0  56.799999  1410.0  206.000000

[7923 rows x 4 columns]