In [12]:
#階層式索引(level)

import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
               index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])


s1
s1.index.names = ['index1','index2']
s1
s1.unstack()

index2         1         2         3
index1
a      -0.483764 -0.321572  0.014533
b      -0.660151 -0.579115       NaN
c      -1.179351       NaN -0.384620
d            NaN  0.418951 -0.560002

In [6]:
s1['a']

index2
1    0.035006
2    0.577187
3   -0.717247
dtype: float64

In [8]:
s1['a'][-2:]

index2
2    0.577187
3   -0.717247
dtype: float64

In [14]:
s1.unstack('index1')

index1         a         b         c         d
index2
1      -0.483764 -0.660151 -1.179351       NaN
2      -0.321572 -0.579115       NaN  0.418951
3       0.014533       NaN -0.384620 -0.560002

In [15]:
s1.unstack('index2')

index2         1         2         3
index1
a      -0.483764 -0.321572  0.014533
b      -0.660151 -0.579115       NaN
c      -1.179351       NaN -0.384620
d            NaN  0.418951 -0.560002

In [17]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.columns.names = ['縣市','顏色']
frame.index.names = ['key1','key2']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [22]:
s2 = frame.stack(['縣市','顏色'],future_stack=True)
s2

key1  key2  縣市  顏色
a     1     台北  Green     0
                Red       1
            台中  Green     2
      2     台北  Green     3
                Red       4
            台中  Green     5
b     1     台北  Green     6
                Red       7
            台中  Green     8
      2     台北  Green     9
                Red      10
            台中  Green    11
dtype: int64

In [23]:
s2.unstack(['key1','縣市'])

key1          a          b
縣市           台北   台中    台北    台中
key2 顏色
1    Green  0.0  2.0   6.0   8.0
     Red    1.0  NaN   7.0   NaN
2    Green  3.0  5.0   9.0  11.0
     Red    4.0  NaN  10.0   NaN

In [24]:
s2.unstack(['key1','縣市','顏色'])

key1     a               b
縣市      台北        台中    台北        台中
顏色   Green Red Green Green Red Green
key2
1        0   1     2     6   7     8
2        3   4     5     9  10    11