In [12]:
#階層式索引(level)

import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
               index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])


s1
s1.index.names = ['index1','index2']
s1
s1.unstack()

index2         1         2         3
index1
a      -0.483764 -0.321572  0.014533
b      -0.660151 -0.579115       NaN
c      -1.179351       NaN -0.384620
d            NaN  0.418951 -0.560002

In [6]:
s1['a']

index2
1    0.035006
2    0.577187
3   -0.717247
dtype: float64

In [8]:
s1['a'][-2:]

index2
2    0.577187
3   -0.717247
dtype: float64

In [14]:
s1.unstack('index1')

index1         a         b         c         d
index2
1      -0.483764 -0.660151 -1.179351       NaN
2      -0.321572 -0.579115       NaN  0.418951
3       0.014533       NaN -0.384620 -0.560002

In [15]:
s1.unstack('index2')

index2         1         2         3
index1
a      -0.483764 -0.321572  0.014533
b      -0.660151 -0.579115       NaN
c      -1.179351       NaN -0.384620
d            NaN  0.418951 -0.560002