In [ ]:
import numpy as np
import pandas as pd

df1 = pd.read_csv('各鄉鎮市區人口密度.csv')
df1

In [ ]:
df1.columns = df1.iloc[0]
df1

In [ ]:
df2 = df1.dropna()
df2

In [ ]:
df3 = df2.drop(index=0)
df3

In [ ]:
df3['土地面積'] = df3['土地面積'].astype(float)
df3.info()

In [ ]:
#不是標準寫法
items = []
for item in df3['年底人口數']:
    try:
        items.append(int(item))
    except ValueError:
        items.append(0)
items

In [22]:
def value_to_int(value:str)->int:
    try:
        return int(value)
    except ValueError:
        return 0
    
df3['年底人口數'] = df3['年底人口數'].map(value_to_int)
df3['人口密度'] = df3['人口密度'].map(value_to_int)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 370 entries, 1 to 370
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統計年     370 non-null    object
 1   區域別     370 non-null    object
 2   年底人口數   370 non-null    int64
 3   土地面積    370 non-null    float64
 4   人口密度    370 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 17.3+ KB

In [27]:
sorted_value = df3.sort_values(by='年底人口數',ascending=False)
sorted_value

0    統計年     區域別   年底人口數     土地面積   人口密度
1    106  新北市板橋區  551480  23.1373  23835
42   106  桃園市桃園區  440840  34.8046  12666
5    106  新北市新莊區  416524  19.7383  21102
3    106  新北市中和區  413590  20.1440  20532
43   106  桃園市中壢區  405216  76.5200   5296
..   ...     ...     ...      ...    ...
367  106  連江縣莒光鄉    1624   4.7000    346
368  106  連江縣東引鄉    1352   3.8000    356
364  106  金門縣烏坵鄉     685   1.2000    571
369  106    東沙群島       0   2.3800      0
370  106    南沙群島       0   0.5045      0

[370 rows x 5 columns]

In [28]:
sorted_value.iloc[:5]

0   統計年     區域別   年底人口數     土地面積   人口密度
1   106  新北市板橋區  551480  23.1373  23835
42  106  桃園市桃園區  440840  34.8046  12666
5   106  新北市新莊區  416524  19.7383  21102
3   106  新北市中和區  413590  20.1440  20532
43  106  桃園市中壢區  405216  76.5200   5296

In [29]:
sorted_value.iloc[-5:]

0    統計年     區域別  年底人口數    土地面積  人口密度
367  106  連江縣莒光鄉   1624  4.7000   346
368  106  連江縣東引鄉   1352  3.8000   356
364  106  金門縣烏坵鄉    685  1.2000   571
369  106    東沙群島      0  2.3800     0
370  106    南沙群島      0  0.5045     0

In [36]:
sorted_value['人口數排名'] = sorted_value['年底人口數'].rank(method='first',ascending=False)
sorted_value

0    統計年     區域別   年底人口數     土地面積   人口密度  人口數排名
1    106  新北市板橋區  551480  23.1373  23835    1.0
42   106  桃園市桃園區  440840  34.8046  12666    2.0
5    106  新北市新莊區  416524  19.7383  21102    3.0
3    106  新北市中和區  413590  20.1440  20532    4.0
43   106  桃園市中壢區  405216  76.5200   5296    5.0
..   ...     ...     ...      ...    ...    ...
367  106  連江縣莒光鄉    1624   4.7000    346  366.0
368  106  連江縣東引鄉    1352   3.8000    356  367.0
364  106  金門縣烏坵鄉     685   1.2000    571  368.0
369  106    東沙群島       0   2.3800      0  369.0
370  106    南沙群島       0   0.5045      0  370.0

[370 rows x 6 columns]