In [1]:
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()
pdr.get_data_yahoo('AAPL')

yfinance: pandas_datareader support is deprecated & semi-broken so will be removed in a future verison. Just use yfinance.

[*********************100%%**********************]  1 of 1 completed

                  Open        High  ...   Adj Close     Volume
Date                                ...
1980-12-12    0.128348    0.128906  ...    0.099192  469033600
1980-12-15    0.122210    0.122210  ...    0.094017  175884800
1980-12-16    0.113281    0.113281  ...    0.087117  105728000
1980-12-17    0.115513    0.116071  ...    0.089273   86441600
1980-12-18    0.118862    0.119420  ...    0.091861   73449600
...                ...         ...  ...         ...        ...
2024-06-12  207.369995  220.199997  ...  213.070007  198134300
2024-06-13  214.740005  216.750000  ...  214.240005   97862700
2024-06-14  213.850006  215.169998  ...  212.490005   70122700
2024-06-17  213.369995  218.949997  ...  216.669998   93728300
2024-06-18  217.589996  218.630005  ...  214.289993   79854200

[10970 rows x 6 columns]